body{
	margin: 0px;
	background-image: url('images/center_back.png');
}
*
{
	font-family: Microsoft YaHei;
}
a:link {color:#009900;}      /* unvisited link */
a:visited {color:#009900;}  /* visited link */
a:hover {color:#009900;}  /* mouse over link */
a:active {color:#009900;}  /* selected link */
a{
	text-decoration:none;
}
#titleblock
{
	height: 120px;
	background-color: #C5C5C5;
	background-image:url('images/11.png');
}
#title_img
{
	position: relative;
	top:35px;
	width: 300px;
}

#message_block
{
	margin-top: 50px;
	width: 350px;
	height:30px;
	background-color: rgba(238,238,238,0.6);
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	box-shadow: 3px 0px #AAAAAA; 
}
#login_block
{
	font-weight: 700;
	color: #767676;
	padding-left: 50px;
	text-align: left;
	background-color: rgba(238,238,238,0.6);
	height: 800px;
	width: 300px;
	font-size: 20px;
	margin-bottom: 50px;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	box-shadow: 3px 3px #AAAAAA; 
}

.reg_input
{
	font-weight: 500px;
	padding-left: 5px;
	font-size: 18px;
	height: 30px;
	width: 250px;
	margin-bottom: 15px;
	margin-top: 5px;
}
#user_photo
{
	margin-top: 20px;
	width: 100px;
	height:100px;
	display: inline-block;
}
#cropbox
{
	max-width: 100%;
	max-height: 100%;
}
#footer
{
	height: 80px;
	background-color: #C5C5C5;
	width: 100%;
	background-image:url('images/11.png');
}

.fileUpload {
	margin-bottom: 37px;
	margin-left: 20px;
	background-image: url('images/default.png');
	position: relative;
	overflow: hidden;
	height: 25px;
	width: 80px;
	display: inline-block;
}
.upload {
	margin-bottom: 37px;
	margin-left: 20px;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;

	opacity: 0;
}

#submit
{
	position: relative;
	top: -30px;
	cursor: pointer;
	background-image:url('images/submit.png');
	width:120px;
	height:39px;
}
